body {
    background-color: #352f44;
    font-family: Lucida Sans Unicode;
}

h1 {
    border: #eee solid;
    background-color: #0fc7d1;
    font: Lucida Console;
    color: black;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}


